@inherits BaseComponent

<EditForm EditContext="EditContext">
    <ObjectGraphDataAnnotationsValidator />
    <div class="card-search">
        <CardComponent Header="@("Client.Beneficiary".Translate())" HeaderIconClass="">
            <ClientSearchComponent ClientSelected="@(BeneficiarySelected)" ClientFromParameter="@OfferModel.Beneficiary" ReadOnly="ReadOnly"></ClientSearchComponent>
            <ValidationMessage For="@(() => OfferModel.Beneficiary)" />
        </CardComponent>
    </div>
    <br />
    <div class="row">
        <div class="col-3 form-group">
            @if (ReadOnly)
            {
                <div class="readonly-input">
                    <span>
                        <span>@("OfferModel.Commission".Translate())</span>
                        <strong>@OfferModel.Commission</strong>
                    </span>
                </div>
            }
            else
            {
                <MatTextField @bind-Value="OfferModel.Commission" Label="@("OfferModel.Commission".Translate() + "*")" Outlined="true" ReadOnly="ReadOnly" ValidationDisabled="true"></MatTextField>
                <ValidationMessage For="@(() => OfferModel.Commission)" />
            }
        </div>
        <div class="col-3 form-group">
            @if (ReadOnly)
            {
                <div class="readonly-input">
                    <span>
                        <span>@("OfferModel.BodyInjuryLimitPerPerson".Translate())</span>
                        <strong>@OfferModel.BodyInjuryLimitPerPerson</strong>
                    </span>
                </div>
            }
            else
            {
                <MatTextField @bind-Value="OfferModel.BodyInjuryLimitPerPerson" Label="@("OfferModel.BodyInjuryLimitPerPerson".Translate()+"*")" Outlined="true" ReadOnly="ReadOnly" ValidationDisabled="true"></MatTextField>
                <ValidationMessage For="@(() => OfferModel.BodyInjuryLimitPerPerson)" />
            }
        </div>
        <div class="col-3 form-group">
            @if (ReadOnly)
            {
                <div class="readonly-input">
                    <span>
                        <span>@("OfferModel.PropertyDamageLimitPerAccident".Translate())</span>
                        <strong>@OfferModel.PropertyDamageLimitPerAccident</strong>
                    </span>
                </div>
            }
            else
            {
                <MatTextField @bind-Value="OfferModel.PropertyDamageLimitPerAccident" Label="@("OfferModel.PropertyDamageLimitPerAccident".Translate()+"*")" Outlined="true" ReadOnly="ReadOnly" ValidationDisabled="true"></MatTextField>
                <ValidationMessage For="@(() => OfferModel.PropertyDamageLimitPerAccident)" />
            }
        </div>
        <div class="col-3 form-group">
            @if (ReadOnly)
            {
                <div class="readonly-input">
                    <span>
                        <span>@("OfferModel.InsuranceArea".Translate())</span>
                        <strong>@OfferModel.InsuranceArea</strong>
                    </span>
                </div>
            }
            else
            {
                <MatTextField @bind-Value="OfferModel.InsuranceArea" Label="@("OfferModel.InsuranceArea".Translate()+"*")" Outlined="true" ReadOnly="ReadOnly"></MatTextField>
                <ValidationMessage For="@(() => OfferModel.InsuranceArea)" />
            }
        </div>
        <div class="col-3 form-group">
            @if (ReadOnly)
            {
                <div class="readonly-input">
                    <span>
                        <span>@("OfferModel.AnnualTurnoverOfCompany".Translate())</span>
                        <strong>@OfferModel.AnnualTurnoverOfCompany</strong>
                    </span>
                </div>
            }
            else
            {
                <MatTextField @bind-Value="OfferModel.AnnualTurnoverOfCompany" Label="@("OfferModel.AnnualTurnoverOfCompany".Translate()+"*")" Outlined="true" ReadOnly="ReadOnly"></MatTextField>
                <ValidationMessage For="@(() => OfferModel.AnnualTurnoverOfCompany)" />
            }
        </div>
        <div class="col-3 form-group">
            @if (ReadOnly)
            {
                <div class="readonly-input">
                    <span>
                        <span>@("OfferModel.BodyInjuryLimitPerAccident".Translate())</span>
                        <strong>@OfferModel.BodyInjuryLimitPerAccident</strong>
                    </span>
                </div>
            }
            else
            {
                <MatTextField @bind-Value="OfferModel.BodyInjuryLimitPerAccident" Label="@("OfferModel.BodyInjuryLimitPerAccident".Translate()+"*")" Outlined="true" ReadOnly="ReadOnly"></MatTextField>
                <ValidationMessage For="@(() => OfferModel.BodyInjuryLimitPerAccident)" />
            }
        </div>
        <div class="col-3 form-group">
            @if (ReadOnly)
            {
                <div class="readonly-input">
                    <span>
                        <span>@("OfferModel.BodyInjuryAnnualAggregateLimit".Translate())</span>
                        <strong>@OfferModel.BodyInjuryAnnualAggregateLimit</strong>
                    </span>
                </div>
            }
            else
            {
                <MatTextField @bind-Value="OfferModel.BodyInjuryAnnualAggregateLimit" Label="@("OfferModel.BodyInjuryAnnualAggregateLimit".Translate()+"*")" Outlined="true" ReadOnly="ReadOnly"></MatTextField>
                <ValidationMessage For="@(() => OfferModel.BodyInjuryAnnualAggregateLimit)" />
            }
        </div>
        <div class="col-3 form-group">
            @if (ReadOnly)
            {
                <div class="readonly-input">
                    <span>
                        <span>@("OfferModel.PropertyDamageAnnualAggregateLimit".Translate())</span>
                        <strong>@OfferModel.PropertyDamageAnnualAggregateLimit</strong>
                    </span>
                </div>
            }
            else
            {
                <MatTextField @bind-Value="OfferModel.PropertyDamageAnnualAggregateLimit" Label="@("OfferModel.PropertyDamageAnnualAggregateLimit".Translate()+"*")" Outlined="true" ReadOnly="ReadOnly"></MatTextField>
                <ValidationMessage For="@(() => OfferModel.PropertyDamageAnnualAggregateLimit)" />
            }
        </div>
        <div class="col-3 form-group @(ReadOnly ? "readonly-dropdown" : "")">
            <DropDownComponent Required="true" ItemExpression="@(() => OfferModel.PolicyPeriodOid)" Parent="OfferModel" OnSelected="StateHasChanged" ReadOnly="ReadOnly"></DropDownComponent>
            <ValidationMessage For="@(() => OfferModel.PolicyPeriodOid)" />
        </div>
        <div class="col-3 form-group @(ReadOnly ? "readonly-dropdown" : "")">
            <DropDownComponent Required="true" ItemExpression="@(() => OfferModel.CurrencyOid)" Parent="OfferModel" OnSelected="StateHasChanged" ReadOnly="ReadOnly"></DropDownComponent>
            <ValidationMessage For="@(() => OfferModel.CurrencyOid)" />
        </div>
        <div class="col-3 form-group @(ReadOnly ? "readonly-dropdown" : "")">
            <DropDownComponent Required="true" ItemExpression="@(() => OfferModel.PaymentTypeOid)" Parent="OfferModel" OnSelected="StateHasChanged" ReadOnly="ReadOnly"></DropDownComponent>
            <ValidationMessage For="@(() => OfferModel.PaymentTypeOid)" />
        </div>
        @* <div class="col-3 form-group"> *@
        @*     @if (ReadOnly) *@
        @*     { *@
        @*         <div class="readonly-input"> *@
        @*             <span> *@
        @*                 <span>@("OfferModel.EmailToNotify".Translate())</span> *@
        @*                 <strong>@OfferModel.EmailToNotify</strong> *@
        @*             </span> *@
        @*         </div> *@
        @*     } *@
        @*     else *@
        @*     { *@
        @*         <MatTextField @bind-Value="OfferModel.EmailToNotify" Label="@("OfferModel.EmailToNotify".Translate())" Outlined="true" ReadOnly="ReadOnly"></MatTextField> *@
        @*         <ValidationMessage For="@(() => OfferModel.EmailToNotify)" /> *@
        @*     } *@
        @* </div> *@
        <div class="col-12 form-group" style="max-height: 56px">
            <MatCheckbox @bind-Value="OfferModel.IsRenew" Label="@("OfferModel.IsRenew".Translate())" Outlined="true" Disabled="ReadOnly"></MatCheckbox>
        </div>
        @if (OfferModel.IsRenew)
        {
            <div class="col-12 form-group">
                @if (ReadOnly)
                {
                    <div class="readonly-input">
                        <span>
                            <span>@("PolicyNumber".Translate())</span>
                            <strong>@OfferModel.ExistingPolicyNumber</strong>
                        </span>
                    </div>
                }
                else
                {
                    <MatTextField @bind-Value="OfferModel.ExistingPolicyNumber" Label="@("PolicyNumber".Translate())" Outlined="true" ReadOnly="ReadOnly"></MatTextField>
                    <ValidationMessage For="@(() => OfferModel.ExistingPolicyNumber)" />
                }
            </div>
        }
    </div>
    <br />
</EditForm>





<div style="display:none">
    <CRM.Client.Shared.Components.PrintOut.Offers.LiabilityPrintOut DealModel="DealModel" OfferModel="OfferModel"></CRM.Client.Shared.Components.PrintOut.Offers.LiabilityPrintOut>
</div>



