@inherits BaseComponent
@using CRM.Data.Enums;
<div id="print">
    <h1 class="general-title">@OfferTypeEnum.CarAndEquipmentInsurance.ToString().Translate()</h1>
    <div class="with-underline">
        <h6> @LocalizationExtension.Translate("CardComponent.OnlyInsured")</h6>
        <p>@DealModel?.Client?.FullConcatName</p>
    </div>
    <div class="with-underline">
        <h6>
            @("OfferModel.PinOrTin".Translate())
        </h6>
        @if (DealModel?.Client?.ClientType == ClientType.Company)
        {
            <p> @DealModel?.Client?.Documents?.FirstOrDefault(x => x.DocumentType == 2)?.DocumentNumber</p> }
        else
        {
            <p>@DealModel?.Client?.PinNumber</p>
        }
    </div>
    <div class="with-underline">
        <h6>@("Client.Beneficiary".Translate())</h6>
        <p>@OfferModel?.Beneficiary?.FullConcatName</p>
    </div>
    <div class="with-underline">
        <h6>@("OfferModel.PaymentTypeOid".Translate())</h6>
        <p>@OfferModel?.PaymentType</p>
    </div>
    <div class="with-underline">
        <h6>@("OfferModel.CurrencyOid".Translate())</h6>
        <p>@OfferModel?.Currency</p>
    </div>
    <div class="with-underline">
        <h6>@("OfferModel.PolicyPeriodOid".Translate())</h6>
        <p>@OfferModel?.PolicyPeriod</p>
    </div>
    <div class="with-underline">
        <h6>@("OfferModel.InsuranceArea".Translate())</h6>
        <p>@OfferModel?.InsuranceArea</p>
    </div>

    @if (DealModel?.Client?.ClientType == ClientType.Company)
    {
        <div class="with-underline">
            <h6>@("OfferModel.CompanyActivityType".Translate())</h6>
            <p>@OfferModel?.CompanyActivityType</p>
        </div>
    }
    <div class="with-underline">
        <h6>@("OfferModel.SumInsured".Translate())</h6>
        <p>@DealModel?.SumInsured</p>
    </div>
    <div class="with-underline">
        <h6>@("OfferModel.DeductibleAmountOid".Translate())</h6>
        <p>@OfferModel?.DeductibleAmount</p>
    </div>
    <div class="with-underline">
        <h6>@("LanguageSelection".Translate())</h6>
        <p>@DealModel?.OfferLang</p>
    </div>

    <div class="with-underline">
        <h6>@("DealMode.ClientPhoneNumber".Translate())</h6>
        <p>@DealModel?.ClientPhoneNumber</p>
    </div>
    <div class="with-underline">
        <h6>@("DealMode.SurveyContactInfo".Translate())</h6>
        <p>@DealModel?.SurveyContactInfo</p>
    </div>


    <div class="with-underline">
        <h6>@("OfferModel.AnyInfoForInsuranceCompany".Translate())</h6>
        <p>@OfferModel.AnyInfoForInsuranceCompany</p>
    </div>

    <div class="with-underline">
        <h6>@("OfferModel.UnconditionalExemptionAmount".Translate())</h6>
        <p>@OfferModel.UnconditionalExemptionAmount</p>
    </div>

    <div class="with-underline">
        <h6>@("OfferModel.InsuranceValue".Translate())</h6>
        <p>@OfferModel.InsuranceValue</p>
    </div>
    <div class="with-underline">
        <h6>@("OfferModel.LastFiveYearLossHistory".Translate())</h6>
        <p>@OfferModel.LastFiveYearLossHistory</p>
    </div>
    <div class="with-underline">
        <h6>@("OfferModel.Commission".Translate())</h6>
        <p>@OfferModel.Commission</p>
    </div>

    <div class="sign-area">

        <div class="sign-title-container">
            <h6 class="sign-title">@LocalizationExtension.Translate("CardComponent.InsuredPerson")</h6>
            <span>@DealModel?.Client?.FullConcatName</span>
        </div>

        <div class="sign-container">
            <span>@LocalizationExtension.Translate("CardComponent.InsuredPerson")</span>
            <div class="sign-line"></div>
            <span>@LocalizationExtension.Translate("CardComponent.Signature")</span>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th style="color:orange">@("OfferModel.EngineCapacity".Translate())</th>
                <th style="color:orange">@("OfferModel.ManufactureYear".Translate())</th>
                <th style="color:orange">@("DropDown.SelectedVehicleUsagePurposeOid".Translate())</th>
                <th style="color:orange">@("DropDown.VehBrandOid".Translate())</th>
                <th style="color:orange">@("DropDown.VehModelOid".Translate())</th>
                <th style="color:orange">@("OfferModel.VehicleRegNumber".Translate())</th>
            </tr>
        </thead>
        <tbody>
            @if (OfferModel?.Vehicles != null && OfferModel?.Vehicles?.Count > 0)
            {
                @foreach (var vehicle in OfferModel?.Vehicles)
                {
                    <tr>
                        <td>@vehicle?.EngineCapacity</td>
                        <td>@vehicle?.ManufactureYear</td>
                        <td>@vehicle?.SelectedVehicleUsagePurpose</td>
                        <td>@vehicle?.VehBrand</td>
                        <td>@vehicle?.VehModel</td>
                        <td>@vehicle?.VehicleRegNumber</td>
                    </tr>
                }

            }

        </tbody>
    </table>
</div>


