@inherits BaseComponent
@using CRM.Data.Enums;
<div id="print">
    <h1 class="general-title">@OfferTypeEnum.VoluntaryHealthInsurance.ToString().Translate()</h1>
    <div class="with-underline">
        <h6> @LocalizationExtension.Translate("CardComponent.OnlyInsured")</h6>
        <p>@DealModel?.Client?.FullConcatName</p>
    </div>
    <div class="with-underline">
        <h6>
            @("OfferModel.PinOrTin".Translate())
        </h6>
        @if (DealModel?.Client?.ClientType ==  ClientType.Company)
        {
            <p> @DealModel?.Client?.Documents?.FirstOrDefault(x => x.DocumentType == 2)?.DocumentNumber</p>
        }
        else
        {
            <p>@DealModel?.Client?.PinNumber</p>
        }
    </div>
    <div class="with-underline">
        <h6> @("OfferModel.PaymentTypeOid".Translate())</h6>
        <p>@OfferModel?.PaymentType</p>
    </div>
    <div class="with-underline">
        <h6> @("OfferModel.CurrencyOid".Translate())</h6>
        <p>@OfferModel?.Currency</p>
    </div>
    <div class="with-underline">
        <h6> @("OfferModel.PolicyPeriodOid".Translate())</h6>
        <p>@OfferModel?.PolicyPeriod</p>
    </div>
    <div class="with-underline">
        <h6> @("OfferModel.InsuranceArea".Translate())</h6>
        <p>@OfferModel?.InsuranceArea</p>
    </div>
    <div class="with-underline">
        <h6>  @("OfferModel.SumInsured".Translate())</h6>
        <p>@DealModel?.SumInsured</p>
    </div>
    <div class="with-underline">
        <h6> @("LanguageSelection".Translate())</h6>
        <p>@DealModel?.OfferLang</p>
    </div>

    <div class="with-underline">
        <h6> @("DealMode.ClientPhoneNumber".Translate())</h6>
        <p>@DealModel?.ClientPhoneNumber</p>
    </div>
    <div class="with-underline">
        <h6> @("DealMode.SurveyContactInfo".Translate())</h6>
        <p>@DealModel?.SurveyContactInfo</p>
    </div>

    <div class="with-underline">
        <h6> @("OfferModel.IsJobContainsHarmfulFactors".Translate())</h6>
        <p>@OfferModel?.IsJobContainsHarmfulFactors</p>
    </div>

    <div class="with-underline">
        <h6>  @("OfferModel.NumberOfOfficeWorkers".Translate())</h6>
        <p>@OfferModel?.NumberOfOfficeWorkers</p>
    </div>

    <div class="with-underline">
        <h6> @("OfferModel.NumberOfProductionWorkers".Translate())</h6>
        <p>@OfferModel?.NumberOfProductionWorkers</p>
    </div>

    <div class="with-underline">
        <h6> @("OfferModel.TypeOfActivity".Translate())</h6>
        <p>@OfferModel?.TypeOfActivity</p>
    </div>
    <div class="sign-area">

        <div class="sign-title-container">
            <h6 class="sign-title">@LocalizationExtension.Translate("CardComponent.OnlyInsured")</h6>
            <span>@DealModel?.Client?.FullConcatName</span>
        </div>

        <div class="sign-container">
            <span>@LocalizationExtension.Translate("CardComponent.OnlyInsured")</span>
            <div class="sign-line"></div>
            <span>@LocalizationExtension.Translate("CardComponent.Signature")</span>
        </div>
    </div>


    @if (OfferModel?.VoluntaryHealthInsuranceEmployeeGroups != null)
    {
        @("OfferModel.VoluntaryHealthInsuranceEmployeeGroups".Translate())
        <table>
            <thead>
                <tr>
                    <th>@("OfferModel.Count".Translate())</th>
                    <th>@("DropDown.Gender".Translate())</th>
                    <th>@("DropDown.EmployeeType".Translate())</th>
                    <th>@("DropDown.AgeRangeOid".Translate())</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in OfferModel?.VoluntaryHealthInsuranceEmployeeGroups)
                {
                    <tr>
                        <td>@item?.Count</td>
                        <td>@item?.GenderName</td>
                        <td>@item?.EmployeeTypeName</td>
                        <td>@item?.AgeRange</td>
                    </tr>
                }
            </tbody>
        </table>

    }


</div>



