@inherits BaseComponent

<style>
    div > label {
        width: 100%;
    }
</style>

<EditForm Context="UpdateContactForm" Model="ContactListItemModel" OnValidSubmit="@(()=>SubmitClientAsync(ContactListItemModel))">
    <MatAccordion>
        <MatExpansionPanel Expanded="true" ExpandedChanged="ClientInfoExpand">
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>@("Client.ClientInfo".Translate())</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>

                <div class="client-select">
                    <MatChipSet>
                        <div class="row ml-0">
                            <div hidden="@(!IsEdit)">
                                <DropDownComponent ItemExpression="@(() => ContactListItemModel.Tag)" Parent="@ContactListItemModel" OnSelected="OnAddOption" ReadOnly="@(!IsEdit)"></DropDownComponent>
                            </div>
                            <div class="d-flex align-items-center">
                                @foreach (var option in ContactListItemModel.Tags)
                                {
                                    <div class="mdc-chip">
                                        <MatChip LeadingIcon="star_border" IsRemovable="true" Label=@option.Name.Translate()></MatChip>
                                        <a class="mdc-chip" @onclick="@(() => OnTrailingIconClick(option.Id))" hidden="@(!IsEdit)">
                                            <span class="material-icons">delete_outline</span>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </MatChipSet>
                </div>

                <div class="row">
                    <div class="col-3 form-group my-3">
                        <div class="border-bottom @NonEditable">
                            <span>
                                @("Client.Name".Translate()): <strong>@ContactListItemModel.FirstName</strong>
                            </span>
                        </div>
                        <div class="@Editable">
                            <MatTextField @bind-Value="@ContactListItemModel.FirstName" Label="@("Client.Name".Translate())" Outlined="true" class="w-100"></MatTextField>
                        </div>
                    </div>
                    <div class="col-3 form-group my-3">
                        <div class="border-bottom @NonEditable">
                            <span>
                                @("Client.LastName".Translate()):<strong>@ContactListItemModel.LastName</strong>
                            </span>
                        </div>
                        <div class="@Editable">
                            <MatTextField @bind-Value="@ContactListItemModel.LastName" Label="@("Client.LastName".Translate())" Outlined="true" class="w-100"></MatTextField>
                        </div>
                    </div>

                    <div class="col-3 form-group my-3">
                        <div class="border-bottom @NonEditable">
                            <span>
                                @("Client.FatherName".Translate()):
                                <strong>@ContactListItemModel.FatherName</strong>
                            </span>
                        </div>
                        <div class="@Editable">
                            <MatTextField @bind-Value="@ContactListItemModel.FatherName" Label="@("Client.FatherName".Translate())" Outlined="true"></MatTextField>
                        </div>
                    </div>
                    <div class="col-3 form-group my-3">
                        <div class="border-bottom @NonEditable">
                            <span>
                                @("Client.FullName".Translate()): <strong>@ContactListItemModel.FullName</strong>
                            </span>
                        </div>
                        <div class="@Editable">
                            <MatTextField @bind-Value="@ContactListItemModel.FullName" Label="@("Client.FullName".Translate())" Outlined="true" class="w-100"></MatTextField>
                        </div>
                    </div>

                    <div class="col-3 form-group">
                        <div class="border-bottom @NonEditable">
                            <span>
                                @("Client.PinNumber".Translate()):
                                <strong>@ContactListItemModel.PinNumber</strong>
                            </span>
                        </div>
                        <div class="@Editable">
                            <MatTextField @bind-Value="@ContactListItemModel.PinNumber" Label="@("Client.PinNumber".Translate())" Outlined="true"></MatTextField>
                        </div>
                    </div>

                    @*<div class="col-3 form-group my-3">
                    <div class="border-bottom">
                    <span>
                    @("Client.BirthDate".Translate()): <strong>@ContactListItemModel.BirthDate.ToString().Split(' ')[0]</strong>
                    </span>
                    </div>
                    </div>*@

                    <div class="col-3 form-group">
                        <div class="border-bottom @NonEditable">
                            <span>
                                @("Client.BirthDate".Translate()):
                                <strong>@ContactListItemModel.BirthDate</strong>
                            </span>
                        </div>
                        <div class="@Editable">
                            <MatTextField @bind-Value="@ContactListItemModel.BirthDate" Label="@("Client.BirthDate".Translate())" Outlined="true"></MatTextField>
                        </div>
                    </div>
                    <div class="col-3 form-group">
                        <div class="border-bottom @NonEditable">
                            <span>
                                @("DropDown.Position".Translate()):
                                <strong>
                                    @(string.IsNullOrEmpty(ContactListItemModel.PositionCustom) ? "Yoxdur" : ContactListItemModel.PositionCustom)
                                </strong>
                            </span>
                        </div>
                        <div class="@Editable">
                            <MatTextField @bind-Value="ContactListItemModel.PositionCustom" Label="@("DropDown.Position".Translate())" Outlined="true" ReadOnly="@(!IsEdit)"></MatTextField>
                        </div>
                    </div>
                    <div class="col-3 form-group">
                        <div class="border-bottom @NonEditable" hidden="@(RoleModel!=null && (!(RoleModel.IsOwnClient || RoleModel.Full)))">
                            <span>
                                @("Client.MonthlyIncome".Translate()):
                                <strong>@ContactListItemModel.MonthlyIncome</strong>
                            </span>
                        </div>
                        <div class="@Editable">
                            <strong> <MatTextField @bind-Value="ContactListItemModel.MonthlyIncome" Label="@("Client.MonthlyIncome".Translate())" Outlined="true" ReadOnly="@(!IsEdit)"></MatTextField></strong>
                        </div>
                    </div>
                    <div class="col-3 form-group my-3">
                        <div class="border-bottom">
                            <span>
                                @("Client.Inn".Translate()): <strong>@ContactListItemModel.INN</strong>
                            </span>
                        </div>
                    </div>
                </div>

            </MatExpansionPanelDetails>
        </MatExpansionPanel>
        <br />

        @*Comments*@
        <MatExpansionPanel ExpandedChanged="CommentInfoExpand">
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>@("Client.ClientComment".Translate())</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>

                <div class="d-flex flex-column" style="max-height:100vh; gap:10px; overflow-y:auto">
                    @if (ContactListItemModel?.ClientComments != null)
                    {
                        @foreach (var comment in ContactListItemModel?.ClientComments.OrderByDescending(c => c.CreateTimeStamp))
                        {
                            <div class="col-12">

                                <div class="d-flex flex-column p-1" style="gap:10px; border:1px solid black;">
                                    <span>
                                        <b>
                                            @comment.Text
                                        </b>
                                    </span>
                                    <span>
                                        <i> @(comment.FullName)</i>
                                        <i>@(comment.CreateTimeStamp?.ToShortDateString())</i>
                                    </span>
                                </div>
                            </div>
                        }

                    }

                    @foreach (var item in ClientComments)
                    {
                        <div>
                            <MatTextField class="col-sm-12" @bind-Value="item.Text" Label="@("Client.ClientComment".Translate())" Outlined="true"></MatTextField>
                        </div>
                        <div class="col-sm-3 form-group" hidden="@(!IsEdit)">
                            <a class="btn btn-outline-danger" href="" @onclick="@(()=>RemoveCommentItem(item))" @onclick:preventDefault>@("ContactCard.RemoveItem".Translate())</a>
                        </div>
                    }
                    <div class="col-sm-3 form-group" hidden="@(!IsEdit)">
                        <a href="" @onclick="@AddClientCommentItem" @onclick:preventDefault>@("Client.AddClientComment".Translate())</a>
                    </div>
                </div>

            </MatExpansionPanelDetails>
        </MatExpansionPanel>
        <br />
        <MatExpansionPanel ExpandedChanged="ContactInfoExpand">
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>@("Client.ContactInfo".Translate())</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                <div hidden="@(RoleModel!=null && (!(RoleModel.IsOwnClient || RoleModel.Full)))">
                    @foreach (var contactItem in ContactListItemModel.ContactsInfo)
                    {
                        <div class="row">
                            <div class="col-4 form-group">
                                <DropDownComponent ItemExpression="@(() => contactItem.Type)" Parent="@contactItem" ReadOnly="@(!string.IsNullOrEmpty(contactItem.Value))"></DropDownComponent>
                            </div>
                            <div class="col-8 form-group">
                                @if (string.IsNullOrEmpty(contactItem.Value))
                                {
                                    <div>
                                        <MatTextField @bind-Value="contactItem.Value" Label="@("Client.ContactValue".Translate())" Outlined="true"></MatTextField>
                                    </div>
                                }
                                else
                                {
                                    <div class="border-bottom">
                                        <span>
                                            @("Client.ContactValue".Translate()): <strong>@contactItem.Value</strong>
                                        </span>
                                    </div>
                                }

                            </div>
                            @*@foreach (var comment in contactItem.ContactComments)
                        {
                        <div class="col-sm-4 form-group">
                        <InputText placeholder="@("Client.ContactComment".Translate())" Id="Client.ContactComment"
                        Class="form-control" @bind-Value="comment.Text"></InputText>
                        </div>
                        }*@

                        </div>
                    }
                    <div class="col-sm-3 form-group" hidden="@(!IsEdit)">
                        <a href="" @onclick="@AddContactItem" @onclick:preventDefault>@("Client.ContactInfo.AddContact".Translate())</a>
                    </div>
                </div>
            </MatExpansionPanelDetails>
        </MatExpansionPanel>
        <br />
        <MatExpansionPanel ExpandedChanged="CuratorProductsExpand">
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>@("Client.CuratorProduct".Translate())</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                <div class="row">
                    <div>
                        @foreach (var p in InforceProductList)
                        {
                            <span class="badge badge-success">@p.ProductName</span>
                        }

                        @foreach (var f in InOtherStatusProductList)
                        {
                            <span class="badge badge-warning">@f.ProductName</span>
                        }

                        <br />
                        <br />
                    </div>
                    <br />
                    <br />
                    @if (CuratorProducts != null && CuratorProducts.Count > 0)

                    {
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>@("Client.CuratorProduct.CuratorFullName".Translate())</th>
                                    <th>@("Client.CuratorProduct.ProductName".Translate())</th>
                                    @*<th>@("Client.CuratorProduct.StartDate".Translate())</th>
                                <th>@("Client.CuratorProduct.EndDate".Translate())</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in CuratorProducts.OrderByDescending(p => p.EndDate))
                                {
                                    <tr>
                                        <td>@product.CuratorFullName</td>
                                        <td>@product.ProductName</td>
                                        @*<td>@product.StartDate</td>
                                <td>@product.EndDate</td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </MatExpansionPanelDetails>
        </MatExpansionPanel>
        <br />
        <MatExpansionPanel ExpandedChanged="CallsExpand">
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>@("Client.Calls".Translate())</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                @if (ContactListItemModel.ContactsInfo.Any(x => x.Calls.Any()))
                {
                    @foreach (var contactItem in ContactListItemModel.ContactsInfo)
                    {
                        <div class="border p-3 mb-3">
                            <div class="row">
                                <div class="col-12 form-group">
                                    <div class="border-bottom">
                                        <span>
                                            @("Client.ClientNumber".Translate()): <strong>@contactItem.Value</strong>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @foreach (var call in contactItem.Calls)
                                {
                                    <div class="col-6 form-group">
                                        <div class="border-bottom mt-1">
                                            <span>
                                                @call.Direction: <strong>@call.ResponsibleNumber</strong>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6 form-group">
                                        <div class="border-bottom mt-1">
                                            <span>
                                                @("Call.CallTimestamp".Translate()): <strong>@call.CallTimestamp</strong>
                                            </span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            </MatExpansionPanelDetails>
        </MatExpansionPanel>
        <br />
        <MatExpansionPanel ExpandedChanged="AddressExpand">
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>@("Client.Address".Translate())</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                @if (AddressOpenState && ContactListItemModel.Address != null)
                {

                    <div class="row">
                        <div class="col-3 form-group">
                            <DropDownComponent OnSelected="(()=>SelectedCountryID = ContactListItemModel.Address.CountryId.Value)" ItemExpression="@(() => ContactListItemModel.Address.CountryId)" Parent="@ContactListItemModel.Address" ReadOnly="@(!IsEdit)"></DropDownComponent>
                        </div>


                        @if (ContactListItemModel.Address.CountryId != null &&
                       (ContactListItemModel.Address.CountryId == (int)CRM.Operation.Enums.CountryCodeContainer.DefaultCountryCode1 ||
                       ContactListItemModel.Address.CountryId == (int)CRM.Operation.Enums.CountryCodeContainer.DefaultCountryCode2))
                        {
                            <div class="col-3 form-group">
                                <DropDownComponent ItemExpression="@(() => ContactListItemModel.Address.RegOrCityId)" Parent="@ContactListItemModel.Address" ReadOnly="@(!IsEdit)"></DropDownComponent>
                            </div>
                        }

                        <div class="col-3 form-group">
                            <div class="border-bottom @NonEditable">
                                <span>
                                    @("Client.Address.DistrictOrStreet".Translate()):
                                    <strong>@ContactListItemModel.Address.DistrictOrStreet</strong>
                                </span>
                            </div>
                            <div class="@Editable">
                                <MatTextField @bind-Value="ContactListItemModel.Address.DistrictOrStreet" Label="@("Client.Address.DistrictOrStreet".Translate())" Outlined="true"></MatTextField>
                            </div>
                        </div>
                        <div class="col-3 form-group">
                            <div class="border-bottom @NonEditable">
                                <span>
                                    @("Client.Address.AdditionalInfo".Translate()):
                                    <strong>@ContactListItemModel.Address.AdditionalInfo</strong>
                                </span>
                            </div>
                            <div class="@Editable">
                                <MatTextField @bind-Value="ContactListItemModel.Address.AdditionalInfo" Label="@("Client.Address.AdditionalInfo".Translate())" Outlined="true"></MatTextField>
                            </div>
                        </div>
                    </div>
                }

            </MatExpansionPanelDetails>
        </MatExpansionPanel>
        <br />
        <MatExpansionPanel ExpandedChanged="DocumentExpand">
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>@("Client.Document".Translate())</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                @foreach (var documentItem in ContactListItemModel.Documents)
                {
                    <div class="row">
                        <div class="col-4 form-group">
                            <DropDownComponent ItemExpression="@(() => documentItem.DocumentType)" Parent="@documentItem" ReadOnly="@(!IsEdit)"></DropDownComponent>
                        </div>
                        <div class="col-4 form-group">
                            <div class="border-bottom doc-num @NonEditable">
                                <MatTooltip Tooltip="@documentItem.DocumentNumber" Position="@MatTooltipPosition.Top">
                                    <span>
                                        @("Client.DocumentNumber".Translate()): <strong>@documentItem.DocumentNumber</strong>
                                    </span>
                                </MatTooltip>
                            </div>
                            <div class="@Editable">
                                <MatTextField @bind-Value="documentItem.DocumentNumber" Label="@("Client.DocumentNumber".Translate())" Outlined="true"></MatTextField>
                            </div>
                        </div>
                        <div class="col-4 form-group">
                            <div class="border-bottom @NonEditable">
                                <span>
                                    @("Client.DocumentExpireDate".Translate()): <strong>@documentItem.DocumentExpireDate.ToString().Split(' ')[0]</strong>
                                </span>
                            </div>
                            <div class="@Editable">
                                <MatDatePicker @bind-Value="@documentItem.DocumentExpireDate" Label="@("Client.DocumentExpireDate".Translate())" Outlined="true"></MatDatePicker>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-3 form-group" hidden="@(!IsEdit)">
                    <a href="" @onclick="@AddDocumentItem" @onclick:preventDefault>@("Client.AddDocument".Translate())</a>
                </div>

            </MatExpansionPanelDetails>
        </MatExpansionPanel>
        <br />
        <MatExpansionPanel ExpandedChanged="RelationExpand">
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>@("Client.Relation".Translate())</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                @foreach (var relationItem in ContactListItemModel.Relations)
                {
                    <div class="row">
                        <div class="col-3 form-group">
                            <DropDownComponent OnSelected="(selectedItem) => CheckForDuplicate(relationItem)" ItemExpression="@(() => relationItem.RelationType)" Parent="@relationItem" ReadOnly="@(!IsEdit)"></DropDownComponent>
                        </div>
                        <div class="col-9 form-group" hidden="@(!IsEdit || relationItem.ClientName != null)">
                            <CommonSearch @bind-ReleatedClient="@(relationItem.ClientINN)" Place="ContactCard" CheckForDuplicateChanged="() => CheckForDuplicate(relationItem)"></CommonSearch>
                        </div>
                        <div class="col-9 form-group" hidden="@(IsEdit && relationItem.ClientName == null)">
                            <div class="border-bottom doc-num @NonEditable">
                                <MatTooltip Tooltip="@relationItem.ClientName" Position="@MatTooltipPosition.Top">
                                    <span>
                                        @("Client.ReleatedClientName".Translate()): <strong>@relationItem.ClientName</strong>
                                    </span>
                                </MatTooltip>
                            </div>
                            <div class="@Editable">
                                <MatTextField @bind-Value="@relationItem.ClientName" Label="@("Client.ReleatedClientName".Translate())" Outlined="true"></MatTextField>
                            </div>
                        </div>
                        <div class="col-sm-3 form-group " hidden="@(relationItem.ClientName != null)">
                            <a class="btn btn-outline-danger @Editable " href="" @onclick="@(()=>RemoveRelationItem(relationItem))" @onclick:preventDefault>@("ContactCard.RemoveItem".Translate())</a>
                        </div>
                    </div>

                }
                @if (!string.IsNullOrEmpty(DuplicateRelationError))
                {
                    <span class="text-danger">@DuplicateRelationError</span>
                }
                <div class="col-sm-3 form-group" hidden="@(!IsEdit)">
                    <a href="" @onclick="@AddRelationItem" @onclick:preventDefault>Add Relation</a>
                </div>
            </MatExpansionPanelDetails>
        </MatExpansionPanel>

        <br>
        <div class="row py-2 justify-content-center form-btn">
            <AuthorizeView Roles="CRMCanEdit">
                <div class="col-4" hidden="@IsEdit">
                    <button class="btn btn-outline-primary btn-block" @onclick="@(() => SwitchToEdit())" @onclick:preventDefault="true">@("Client.Edit".Translate())"</button>
                </div>
            </AuthorizeView>
            <div class="col-4" hidden="@(!IsEdit)">
                <button type="submit" class="btn btn-outline-primary btn-block">@("Client.Save".Translate())</button>
            </div>
        </div>
    </MatAccordion>
</EditForm>



@code {
    public string NonEditable = "d-block";
    public string Editable = "d-none";

    private void SwitchToEdit()
    {
        IsEdit = true;
        NonEditable = "d-none";
        Editable = "d-block";
    }

    private void OnTrailingIconClick(int? chipID)
    {
        if (ContactListItemModel.Tags.Any(x => x.Id == chipID))
        {
            ContactListItemModel.Tags.Remove(ContactListItemModel.Tags.FirstOrDefault(x => x.Id == chipID));
        }
    }
}